%section.main
  .container
    .row
      .col-md-8.col-sm-8
        .row
          .col-md-12
            .post
              .post-title
                %h1= @provider.name

              .post-body
                %h4
                  %strong= t('labels.provider.description')

                %dl.detail
                  %dt.status
                    %i.fa.fa-link
                    = t('labels.provider.site')
                    \:
                  %dd
                    %a{href: @provider.site, target: '_blank'}= @provider.site

                  %dt.status
                    %i.fa.fa-money
                    = t('labels.provider.average_price')
                    \:
                  %dd
                    %span= @provider.average_price
                    %i.fa{ class: "fa-#{@provider.currency.downcase}" }

                  %dt.area
                    %i.fa.fa-unlock
                    = t('labels.provider.free_content')
                    \:
                  %dd
                    %span= @provider.free_content ? t('labels.yes') : t('labels.no')

                  %dt.area
                    %i.fa.fa-book
                    = t('labels.provider.courses_count')
                    \:
                  %dd
                    %span= t('labels.courses', count: @provider.courses.size)

                %p= @provider.description

        .row
          .col-md-12
            .section-header
              %h2= t('titles.online_courses_on', provider: @provider.name)
            .row
              - @provider.courses.moderated.each do |course|
                .col-md-4
                  = render 'courses/course_item', course: course

      .col-md-4.col-sm-4
        .widget
          .widget-header
            %h3= t('titles.other_providers')
          .widget-body
            %ul.trends
              - @other_providers.each do |provider|
                %li
                  %a{href: provider_path(provider)}
                    = provider.name
