- if notice.present?
  .alert.alert-success{role: 'alert'}= notice
- if alert.present?
  .alert.alert-info{role: 'alert'} = alert

%section.hero
  .container.text-center
    %h1.hero-title= t('titles.main_page_h1')
    %p.hero-description.hidden-xs= t('titles.search_p')
    .row.hero-search-box
      %form{'accept-charset' => 'utf-8', enctype: 'multipart/form-data', action: courses_path, method: 'get'}
        .col-md-3.col-sm-3.search-input
          %select.form-control.input-lg.search-second{name: 'subject'}
            %option{selected: 'selected', value: 'all'}= t('labels.all_subjects')
            - @all_subjects.each do |subject|
              %option{value: subject.id}= subject.name
        .col-md-3.col-sm-3.search-input
          %select.form-control.input-lg.search-second{name: 'provider'}
            %option{selected: 'selected', value: 'all'}= t('labels.all_providers')
            - @all_providers.each do |provider|
              %option{value: provider.id}= provider.name
        .col-md-3.col-sm-3.search-input
          %input.form-control.input-lg.search-first{placeholder: t('labels.lucky'), type: 'text', name: 'title'}
        .col-md-3.col-sm-3.search-input
          %button.btn.btn-custom.btn-block.btn-lg{type: 'submit'}
            %i.fa.fa-search
%section.main
  .container
    .row
      .col-md-8.col-sm-8
        .row
          - @all_subjects.each do |subject|
            .col-xs-4.col-sm-3
              .shortcut
                %a{href: courses_path(subject: subject.id)}
                  = image_tag subject.icon_url(:medium), size: '110x110'
                %a{href: courses_path(subject: subject.id)}
                  %h3= subject.name
                %span.total-items
                  %i.fa.fa-book
                  = t('labels.courses', count: subject.courses.size)

        .row
          .col-md-12
            .section-header
              %h2= t('labels.best_providers')
            #featured-products{style: 'opacity: 1; display: block;'}
              - @all_providers.first(3).each do |provider|
                = render 'provider_preview', provider: provider

      .col-md-4.col-sm-4
        - unless current_user
          .widget
            .widget-header
              %h3= t('devise.sign_up')
            .widget-body
              = simple_form_for(:user, url: registration_path(:user)) do |f|
                .form-group
                  .input-group
                    %span.input-group-addon.addon-login
                      %i.fa.fa-user
                    %input.form-control.input-login{placeholder:  I18n.t('labels.email'), required: 'required', type: 'text', name: 'user[email]', autofocus: true}
                .form-group
                  .input-group
                    %span.input-group-addon.addon-login
                      %i.addon.fa.fa-lock
                    %input.form-control.input-login{placeholder: "#{t('labels.password')}(#{t('devise.min_length_hint', count: 8)})", required: 'required', type: 'password', name: 'user[password]'}
                .form-group
                  .input-group
                    %span.input-group-addon.addon-login
                      %i.addon.fa.fa-lock
                    %input.form-control.input-login{placeholder: I18n.t('labels.password_confirmation'), required: 'required', type: 'password', name: 'user[password_confirmation]'}
                %input.btn.btn-custom.btn-block{type: 'submit', value: I18n.t('labels.signup')}

        .widget
          .widget-header
            %h2= t('titles.w_courses_providers')
          .widget-body
            %ul.trends
              - @all_providers.each do |provider|
                %li
                  = link_to provider_path(provider) do
                    = provider.name
                    %span.badge= provider.courses_count
        .banner-widget
          %img.img-responsive{alt: 'banner', src: 'http://placehold.it/600x275'}/
.counter
  .container
    .row
      .col-md-3
        .item-counter
          %span.item-icon
            %i.fa.fa-university
          .item-count= Provider.moderated.count
          %span.item-info= t('labels.providers_list')
      .col-md-3
        .item-counter
          %span.item-icon
            %i.fa.fa-book
          .item-count= Course.moderated.count
          %span.item-info= t('labels.courses_list')
      .col-md-3
        .item-counter
          %span.item-icon
            %i.fa.fa-tags
          .item-count= Subject.count
          %span.item-info= t('labels.subjects_list')
      .col-md-3
        .item-counter
          %span.item-icon
            %i.fa.fa-users
          .item-count= User.count + Course.count + Provider.count + Subject.count
          %span.item-info= t('labels.members_list')
