!!!
%html
  %head
    %title Edu
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{href: 'favicon.png', rel: 'icon', type: 'image/png'}
  %body
    .wrapper
      %header.navbar.navbar-default.navbar-fixed-top.navbar-top
        .container.container-fluid
          .navbar-header
            %button.navbar-toggle{'data-target' => '.navbar-collapse', 'data-toggle' => 'collapse', type: 'button'}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand{href: '/'}
              %span.logo.logo_big
                %i.fa.fa-graduation-cap
                Coursetheca
              %span.logo.logo_small
                = image_tag image_url('logo.jpg')
          .navbar-collapse.collapse
            %ul.nav.navbar-nav.navbar-right
              - if current_user
                -#%li.new-ads
                -#  .btn-group
                -#    %a.btn.btn-ads.with_right_border{href: '/courses'}= I18n.t('labels.add_course')
                -#    %a.btn.btn-ads.with_left_border{href: '/courses'}= I18n.t('labels.add_provider')
                %li.new-ads
                  .btn-group
                    %a.btn.btn-ads.with_right_border{href: new_course_path}= I18n.t('labels.add_course')
                    %a.btn.btn-ads.with_left_border.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
                      %strong.caret
                    %ul.dropdown-menu
                      %li
                        %a.btn.btn-ads{href: new_provider_path}= I18n.t('labels.add_provider')
              %li
                %a{href: courses_path}= I18n.t('labels.courses_list')
              %li
                %a{href: providers_path}= I18n.t('labels.providers_list')
              - unless current_user
                %li
                  %a{href: new_user_registration_path}= I18n.t('labels.signup')
              %li.dropdown
                %a.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
                  %strong.caret
                  = I18n.t('labels.pages')
                %ul.dropdown-menu
                  %li
                    %a{href: about_path}= I18n.t('labels.about')
                    %a{href: contacts_path}= I18n.t('labels.contacts')
              %li.dropdown
                %a.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
                  - if current_user
                    %i.fa.fa-user
                  - else
                    = t('labels.sign_in')
                  = succeed "\u{a0}" do
                    %strong.caret
                - if current_user
                  %ul.dropdown-menu
                    %li
                      %a{href: '/profile'}= I18n.t('labels.to_profile')
                    %li.divider
                    %li
                      %a{href: destroy_user_session_path, method: :delete}= t('labels.sign_out')
                - else
                  .dropdown-menu.dropdown-login{style: 'padding:15px;min-width:250px'}
                    = simple_form_for(:user, url: session_path(:user)) do |f|
                      .form-group
                        .input-group
                          %span.input-group-addon.addon-login
                            %i.fa.fa-user
                          %input.form-control.input-login{placeholder:  I18n.t('labels.email'), required: 'required', type: 'text', name: 'user[email]'}
                      .form-group
                        .input-group
                          %span.input-group-addon.addon-login
                            %i.addon.fa.fa-lock
                          %input.form-control.input-login{placeholder: I18n.t('labels.password'), required: 'required', type: 'password', name: 'user[password]'}
                      .form-group
                        .checkbox
                          %label.string.optional{for: 'user_remember_me'}
                            %input#user_remember_me{style: '', type: 'checkbox', name: 'user[remember_me]'}
                            = I18n.t('labels.user_remember_me')
                      %input.btn.btn-custom.btn-block{type: 'submit', value: I18n.t('labels.sign_in')}
                      %a.btn-block.text-center{href: '/users/forgot_password'}= I18n.t('labels.forgot_pass')

      = yield
      .footer
        .container
          %ul.pull-left.footer-menu
            %li
              %a{href: root_path}= I18n.t('labels.home')
              %a{href: about_path}= I18n.t('labels.about')
              %a{href: contacts_path}= I18n.t('labels.contacts')
          %ul.pull-right.footer-menu
            %li
              ©
              \#{Time.zone.now.year}
              Coursetheca
